<section class="hero is-fullheight has_blue_bg">
  <div class="hero-body">
    <div class="">
      <p class="title is-size-3 has-text-black">
        Get fit with friends
      </p>
      <p class="subtitle is-size-5 has-text-dark">
        Invite-Only Beta
      </p>
    </div>
  </div>
</section>
