<section class="hero is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="">
      <p class="title is-size-2 has-text-black">
        It's your story
      </p>
      <p class="subtitle is-size-5 has-text-dark">
        Stay fit with friends.
      </p>
    </div>
  </div>
</section>
