<section class="hero is-fullheight">
  <div class="hero-body">
    <div>
      <p class="title is-size-4 has-text-black">
        Stay fit with friends.
      </p>
      <p class="subtitle is-size-5 has-text-dark">
        It's your story. And it's personal.
      </p>
    </div>
  </div>
</section>
