body {
    font-family: 'DM Sans', sans-serif;
}

.has_blue_bg {
    background-color: #5cceff;
}

.new_entry_footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

nav.navbar {
    background-color: #5CCEFF;
    border-bottom: #2f364d 0.5px solid;
}

.has_text_purple {
    color: #8746e3;
}

.has_text_dark_blue {
    color: #2f364d;
}

.has_dark_blue_border {
    border-color: #2f364d;
}