html {
    background-color: #FAFAFA;
}

body {
    font-family: 'DM Sans', sans-serif;
}

/* To make hero height work on mobile. Otherwise broken on chrome-mobile.

Refer: https://css-tricks.com/the-trick-to-viewport-units-on-mobile/
*/
.hero.is-fullheight {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100 - 56px) !important;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100 - 56px) !important;
}

.has_blue_bg {
    background-color: #5cceff !important;
}

.inner_bar.sticky {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
}

.inner_bar.sticky > #nested_border_bottom {
    border-bottom: #888 1px solid !important;
}

.inner_bar {
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
}

nav.navbar {
    height: 50px;
    background-color: #2f364d;
}

.has_text_purple {
    color: #8746e3 !important;
}

.has_text_dark_blue {
    color: #2f364d !important;
}

.has_text_blue {
    color: #5cceff !important;
}

.has_dark_blue_border {
    border-color: #2f364d;
}

.has_border_grey {
    border: 0.25px #DFDFDF solid !important;
}

.has_border_blue {
    border: 0.25px #5cceff solid !important;
}

.has_background_dark_blue {
    background-color: #2f364d !important;
}

.has_background_purple {
    background-color: #8746e3 !important;
}

.has_purple_border {
    border-color: #8746e3;
}

.is_purple_button {
    background-color: #8746e3;
    color: white;
    border: 0;
}

.br-0 {
    border-radius: 0px !important;
}

.b-0 {
    border-style: none;
}

.top-bar button {
    font-weight: 800;
    color: #2f364d;
    border: none;
    border-bottom: #DDD 1px solid;
    border-radius: 0px !important;
    opacity: 0.6;
}

.top-bar button.is-selected {
    opacity: 1;
    color: #2f364d;
    border-bottom-color: #2f364d;
}

.daily-entry {
    background-color: #FFF;
    border: 0.5px solid #DDD;
    border-radius: 2px;
    padding: 15px 15px 15px 15px;
}

.flex-basis-third {
    flex-basis: 33.333333% !important;
}

.flex-basis-full {
    flex-basis: 100% !important;
}

.small-button-medium-height {
   height: 45px;
}

.is_halfwidth {
    width: 50%;
}

.is_quarter_width {
    width: 25%;
}

.is_size_8 {
    font-size: 0.6rem;
}