body {
    font-family: 'DM Sans', sans-serif;
}

.has_blue_bg {
    background-color: #5cceff;
}

.new_entry_footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

nav.navbar {
    background-color: #2f364d;
    border-bottom: #2f364d 0.5px solid;
}

.has_text_purple {
    color: #8746e3 !important;
}

.has_text_dark_blue {
    color: #2f364d;
}

.has_dark_blue_border {
    border-color: #2f364d;
}

.has_border_grey {
    border: 0.25px #DFDFDF solid !important;
}

.has_background_dark_blue {
    background-color: #2f364d !important;
}

.has_purple_border {
    border-color: #8746e3;
}

.is_purple_button {
    background-color: #8746e3;
    color: white;
    border: 0;
}

.br-0 {
    border-radius: 0px !important;
}